* {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

main {
  padding-top: 60px;
}

/*Header Mobile version START*/
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 60px;
}

  header .header-brand {
  font-family: Catamaran;
  font-size: 24px;
  line-height: 40px;
  font-weight: 900;
  color: #111;
  text-transform: uppercase;
  float: left;
  margin: 0;
  padding: 10px 15px;
}

header nav ul {
  float: left;
  margin: 0 auto;
  width: fit-content;
}

header nav ul li {
  float: left;
  list-style: none;
  padding: 0 16px;
  position: relative;
}

header nav ul li a {
  display: block;
  font-family: Catamaran;
  line-height: 25px;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 5px 5px 5px;
  margin-top: 15px;
  color: #111;
  text-transform: uppercase;
}

header nav ul li ul {
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 0px 0px 15px 0px;
}

header nav ul li:hover ul{
  display: block;
}

header nav ul li ul li {
  width: 230px;
}

header nav ul li ul li a {
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
  padding: 0px 5px 0px 5px;
  margin: 0;
}

header nav ul li ul li a:hover {
  background-color: #f3f3f3;
}





 .index-banner {
    width: 100%;
    height: calc(100vh - 60px);
    background-image: url('../images/night_views.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}

.vertical-centre {
  display: table-cell;
  vertical-align: middle;
}

.index-banner h2 {
  font-family: Catamaran;
  font-size: 60px;
  font-weight: 900;
  line-height: 70px;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 8px #111;
}

.index-banner h1 {
  font-family: Cormorant Garamond;
  font-size: 28px;
  font-weight: 100;
  font-style: italic;
  line-height: 40px;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 8px #111;
}